<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>${attribute}</title>

  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/vis.css')}" />
  <script src="${tg.url('/javascript/graph.js')}"></script>
  <script src="${tg.url('/javascript/vis.js')}"></script>
</head>
<body>
</body>
</html>
